* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

a {
  margin-left: 25px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: lightslategray;
}

.home {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.todoList {
  background-color: lightslategray;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.todo {
  background-color: #a8b4c0;
  box-shadow: 2px 2px 5px #555;
  padding: 5px 50px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.todo:hover {
  cursor: pointer;
  background-color: #c5cfd8;
  text-decoration: line-through;
}